.tittle {
  font-family: Parisienne, sans-serif;
  font-size: 70px;
  text-align: center;
  color: white;
}

.rightsearch {
  text-align: end;
  color: black;
}

.searchbarre {
  color: black;
  border-radius: 10px;
  background: #fff;
  background:
    url('https://www.iconpacks.net/icons/2/free-search-icon-3076-thumb.png'),
    lightgray 50% / cover no-repeat;
}

.background {
  background-image: url('https://cdt51.media.tourinsoft.eu/upload/Ciel-etoile-httpspixabay.comfrvoie-lact-C3-A9e-ciel--C3-A9toil-C3-A9-2695569.jpg');
}
